/* Reset */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Generics */

body{
font-family: sans-serif;
background-color: darkblue;
}

.container{
width: 100%;
max-width: 1080px;
margin: 0 auto;
}

/* Header */
header{
height: 100px;
background-color: white;
}

/* Grid */
#grid{
width: 700px;
height: 700px;
margin: 50px auto;
display: flex;
flex-wrap: wrap;
}

#grid .cell{
width: calc(100% / 10);
height: calc(100% / 10);
border: 2px solid white;
cursor: pointer;
color: white;
display: flex;
align-items: center;
justify-content: center;
}

#grid .cell.clicked{
background-color: dodgerblue;
}

/* Footer */
footer{
height: 70px;
background-color: white;
}